body{
    background-color: #6563c7;
    font-size: 10px;
    font-family: Lato, raleway, sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;

    #main > h3 {
      color: white;
    }
    > div {
        width: 100%;
        height: 100%;
    }
}

.inline{
    display: inline-block
}

.left{
    float: left;
}

.right {
    float: left;
}
a {
    color: #000;
}
