$backgroundcolor: #F5F7FA;
$maindivcolor: rgba(101, 99, 199, 1);
$white: #fff;
$orkiee_blue: rgba(48, 189, 255, 1);
$facebook_blue: #3B5999;
$google_red: #DC4A38;
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato);
