#maindiv-register.maindiv
    .logo-bar
    .header
        span SIGN UP
    .form-container
        form.register-form([formGroup]="form" "(ngSubmit)"="submit()")
            .form-group
                input.first_name.form-control(autofocus="", formControlName="first_name", placeholder="First name", required="")
            .form-group
                input.last_name.form-control(formControlName="last_name", placeholder="Last name", required="")
            .form-group
                input.username.form-control(formControlName="username", placeholder="Username", required="", type='text')
            .row(*ngIf="!username.valid")
                .col-sm-12.text-danger(*ngIf="username.hasError('usedUsername')") Username allready exists!
                .col-sm-12.text-danger(*ngIf="username.hasError('notEmail')") Incorrect email!
            fieldset(formGroupName='passwords')
                .form-group
                    input#password.form-control(formControlName="password", placeholder="Password", required="", type="password")
                .form-group
                    input.form-control(formControlName="password_rep", placeholder="Confirm password", required="", type="password")
                .row
                    .col-sm-12.text-danger(*ngIf="!form.controls['passwords'].valid && !form.controls['passwords'].pristine") The passwords must be at least 6 characters long and they must match!
            .form-group
                span I've read and I accept the Terms & conditions
                input(formControlName='iagree', type='checkbox', required='')
            button.btn.btn-register.center-block([disabled]="!form.valid" type='submit') Register
